HZN_EXCHANGE_URL={{ ieam_cluster_url }}/edge-exchange/v1
HZN_FSS_CSSURL={{ ieam_cluster_url }}/edge-css/
HZN_DEVICE_ID={{ horizon_node_name | default(ansible_hostname) }}
HZN_MGMT_HUB_CERT_PATH={{ horizon_mgmt_cert_path }}
HZN_AGENT_PORT={{ horizon_agent_port }}